*{
  scroll-behavior: smooth;
}
.app {
  min-height: 100vh;
  background-color: rgb(23, 23, 87);
  text-align: center;
  color: aliceblue;
   padding-top: 100px; 
  padding-bottom: 70px; 
}
.headingTitle{
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat",sans-serif;
  font-size: 2vw;
  color: aliceblue;
  padding: 4px;
  border-radius: 40px;
}